appdirs==1.4.3
astroid==2.4.0
attrs==19.3.0
distlib==0.3.0
entrypoints==0.3
filelock==3.0.12
flake8==3.7.9
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.2.0
nltk==3.4.5
pluggy==0.13.1
py==1.10.0
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.5.0
pyparsing==2.4.7
pytest==5.4.1
six==1.14.0
toml==0.10.0
tox==3.14.6
virtualenv==20.0.18
wcwidth==0.1.9
wrapt==1.12.1
et-xmlfile==1.0.1
flake8==3.7.9
numpy==1.19.0
packaging==20.4
pandas==1.0.5
pycodestyle==2.5.0
regex==2020.6.8
spacy
scikit-learn==0.23.1
scipy==1.10.0
seaborn
seqeval==0.0.5
sklearn==0.0
tokenizers==0.7.0
torch==1.5.1
tqdm==4.38.0
transformers==2.11.0
virtualenv==20.0.18
requests==2.22.0
openreview
